/* .container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
} */


 body {
  background-color: #FCF6F5FF;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3 {
font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 600;
line-height: 1.2em;
font-family: Tenor Sans;
font-weight: 400;
font-style: normal;
letter-spacing: 0em;
text-transform: none;
line-height: 1.4em;
font-size: 2.5rem;
}

hr {
  width: 50%;
  margin: 10px auto;
  border: none;
  border-top: 2px solid black;
}

#mainNavigation a {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}

.dropdown-menu {
  background:#03727d
}

.nav-item a{
  color: black;
}
.nav-item a:hover {
  color:#fff
}
.nav-item{
  min-width:12vw;
}

#mainNavigation {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:999;
  background-color: #FCF6F5FF;
}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
  background:#FCF6F5FF;
  padding:12px;
}

.navbar-toggler-icon {
  color: black;
  background-color: rgba(242, 226, 208, 0.8);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.container.main {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* Define the animation when each container comes into view */
.container1.animate-1 {
  opacity: 1;
  transform: translateY(0);
}

.container2.animate-2 {
  opacity: 1;
  transform: translateY(0);
}

.container3.animate-3 {
  opacity: 1;
  transform: translateY(0);
}

.container4.animate-4 {
  opacity: 1;
  transform: translateY(0);
}


.toggler-menu {
 color: black;
}

.btn-apply {
  color: white;
  background-color: #f2e2d0;
  border-color: #f2e2d0;;
  border-radius: 0 !important;
}

.btn-apply:hover {
  background-color: #f2e2d0;
  border-color: #f2e2d0;;
  border-width: 2px;
} 

.hero1-text {
  position: relative;
  z-index: 2;
}


.card-text.hero-1-title {
margin: 3rem 0;
line-height: 1.5em;
}


.hero1-image {
  position: relative;
  z-index: 1;
}

.hero-2-image {
  position: relative;
  z-index: 1;
}

.hero-2-title h3 {
  margin: 1rem 0 !important;
}

.card-body.hero-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}


/* 
.container {
  transition: all 1s ease-out;
} will need javascript for this */


.card-body-custom {
  background-color: #e8ded4;
  width: 100%;
}

.hero-image {
  height: 100%; /* set the height to 100% to fill the column */
  object-fit: cover; /* use object-fit to fill the image within the column */
}

.button-hero-1 {
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  /* on mobile, make the image take up the entire width of the card */
  .hero-1-image {
    height: 50%;
    width: 100%;
  }

  .hero-2-image img{
    max-height: 300px;
    width: 100%;
  }

  .card-text.hero-1-title {
    font-size: 2.5rem;
    line-height: 1.2;
    text-align: center;
  }

  .card-body.hero-1 {
    text-align: center;
  }
  .btn[type="button-hero-1"] {
    width: 100%;
  }
  
  
}

.services-body-custom {
  background-color: #e8ded4;
  margin-right: 15px;
}

/*buttons services */
@media screen and (min-width: 768px) {
  /* styles for medium screens and larger */
  .service-1 {
    position: relative;
    /* add padding-bottom equal to button height + 1rem margin */
    padding-bottom: calc(2.25rem + 1rem);
  }

  .service-1 .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .service-2 {
    position: relative;
    /* add padding-bottom equal to button height + 1rem margin */
    padding-bottom: calc(2.25rem + 1rem);
  }

  .service-2 .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .service-3 {
    position: relative;
    /* add padding-bottom equal to button height + 1rem margin */
    padding-bottom: calc(2.25rem + 1rem);
  }

  .service-3 .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

p {
  font-size: 14px;
}

footer {
  background-color: #e8ded4;
  margin-bottom: 50px !important;
}

footer-email {
  background-color: #e8ded4;
}


}
