/* .container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
} */


 body {
  background-color: #FCF6F5FF;
}
/* 
/* nav{
  background-color: #e8ded4;
} */

.navbar {
  background-color: #FCF6F5FF;
}

.navbar-brand img {
  max-width: 200px;
}

.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-left: 25px;
}

.btn-apply {
  background-color: #f2e2d0;;
  border-color: #f2e2d0;;
  border-radius: 0 !important;
}

.btn-apply:hover {
  background-color: #f2e2d0;;
  border-color: #f2e2d0;;
  border-width: 4px;
}  */

.hero1-text {
  position: relative;
  z-index: 2;
}

.hero1-image {
  position: relative;
  z-index: 1;
}

.card-body-custom {
  background-color: #e8ded4;
}

.services-body-custom {
  background-color: #e8ded4;
  margin-right: 15px;
}


